- @counter ||= 0
%div.comment{ :id => "comment_#{comment.id}", :class => (@counter.even? ? "even":"odd") }
  .comment_heading
    - user = User.find(comment.user) # comment.user.admin? - undefined function
    %p= link_to h(user.name), user
    - if user.admin?
      %p.time admin
    = avatar_for user
    - if @logged_user.admin? or @logged_user.id == user.id
      %p.controls= link_to "edit", edit_project_ticket_comment_path(comment.ticket.project, comment.ticket, comment)
    %p.time
      Posted at
      = h(comment.created_at)
    - if comment.updated_at != comment.created_at
      %p.time
        Edited
        = time_ago_in_words comment.updated_at
        ago
  .comment_body= textile_this comment.body
  .clearer
- @counter += 1