%fieldset
  %legend Your comment
  - action = @ticket ? [@ticket.project, @ticket, @ticket.comments.new] : [ @comment.ticket.project, @comment.ticket, @comment ]
  - submit_txt = @ticket ? "Comment" : "Edit"
  - remote_form_for action  do |f|
    = f.hidden_field :ticket_id
    = f.hidden_field :user_id, :value => @logged_user.id
    = render :partial => "forms/errors", :locals => { :f => f }
    %p= f.label :body, "Comment body:"
    %p= textile_editor :comment, :body, :rows => 9, :cols => 70
    %p= render :partial => "forms/textile_info"
    %p= f.submit submit_txt, :onclick => "put_loading_message();"