%h2
  User Profile -
  = link_to @user.username, @user

- remote_form_for( @user, :method => "put" ) do |f|
  .form_wrapper
    %p.label= f.label :full_name, "Full Name:"
    %p
      = f.text_field :full_name
      = hidden_field "others", "action", :value => "full_name"
      = f.submit "Change", :onclick => "put_loading_message();"

%h3 Sensitive data
.help
  %strong Notice!
  To change your email or password you will have to fill in your old password!

- remote_form_for( @user, :method => "put" ) do |f|
  .form_wrapper
    = hidden_field "others", "action", :value => "password"
    %p.label= f.label :email, "Your email:"
    %p= f.text_field :email
    %p.label= label "others", "old_password", "Password:"
    %p= password_field "others", "old_password"
    %p.label= label "others", "new_password", "New password:"
    %p= password_field "others", "new_password", :value => ""
    %p= f.submit "Update", :onclick => "put_loading_message();"

%h3 Your avatar
= avatar_for @user
.help
  We are using
  = link_to "Gravatar", "http://www.gravatar.com", { :target => "_blank" }
  for our avatars.