%h2 User Profile
.show_user
  .pic= avatar_for @user
  .info
    %h3 Username:
    %p= @user.username
    %h3 Full Name:
    %p= @user.name
  - if @logged_user.admin? or @user == @logged_user
    %control
      = "[ #{link_to( "edit", edit_user_path(@user) )} ]"
      = "[ #{link_to 'Destroy', @user, :confirm => "Are you sure you want to destroy #{@user.name}?", :method => :delete} ]"