- ticket = @ticket || @project.tickets.new
- manage_type = ticket.new_record? ? "New" : "Edit"
%h1= "#{manage_type} Ticket"
%h3
  Project -
  = h @project.name
- form_for( [@project, ticket] ) do |f|
  .form_wrapper
    %p
      Ticket for version
      = f.select :version_id, @project.versions.sort_by{ |v| v.created_at }.reverse.map{ |v| [v.name, v.id] }
      of this project
    = render :partial => "forms/errors", :locals => { :f => f }
    %fieldset
      %legend Ticket details
      %p.label= f.label :name, "Name:"
      %p= f.text_field :name
      %p.label= f.label :description, "Description"
      %p= f.text_area :description, :rows => 9, :cols => 70
      %p
        = f.label :status_id, "Status:"
        = f.select :status_id, Status.find(:all).map{ |s| [s.name, s.id] }
        = f.label :priority_id, "Priority:"
        = f.select :priority_id, Priority.find(:all).sort_by{|p| p.order}.map{ |p| [p.name, p.id] }
        = f.hidden_field :project_id
      %p= f.submit manage_type