.ticket
  %p
    %strong= nav_link h(ticket.name), project_ticket_path(ticket.project.id, ticket.id)
    |
    Priority:
    %strong= h(ticket.priority.name)
    | Status:
    %strong= h(ticket.status.name)
  -if @logged_user.admin?
    .control
      = link_to "edit", edit_project_ticket_path(ticket.project, ticket)
      |
      = link_to "destroy", project_ticket_path(ticket.project, ticket), :method => :delete, :confirm => "are you sure?"
  .ticket_description= textile_this ticket.description
  .bottom
    %p= "Last updated #{render_time ticket.updated_at} ago"
    %p= "Created #{render_time ticket.created_at} ago (#{ ("by " + link_to(ticket.user.name, ticket.user) if ticket.user) || "user deleted"})"
