.ticket
  %p
    %strong= nav_link h(ticket.name), project_ticket_path(ticket.project.id, ticket.id)
    |
    Priority:
    %strong= h(ticket.priority.name)
    | Status:
    %strong= h(ticket.status.name)
  -if @logged_user.admin?
    .control
      = link_to "edit", edit_project_ticket_path(ticket.project, ticket)
      |
      = link_to "destroy", project_ticket_path(ticket.project, ticket), :method => :delete, :confirm => "are you sure?"
  .ticket_description= h(ticket.description)
  .bottom
    = "Created: <strong>#{ticket.created_at}</strong> | Last updated #{time_ago_in_words ticket.updated_at} ago"