%h3 Metainfo:
%p
  Ticked #:
  %strong= @ticket.id
  |
  Project:
  %strong= link_to @ticket.project.name, project_path(@ticket.project)
%h3 Ticket info:
= render :partial => @ticket
%h3.centred Comments
= will_paginate @comments
#comments= render :partial => @comments
= will_paginate @comments
#new_comment_div
  = render :partial => "comments/form"
  