- project = @project || Project.new
- if project.new_record?
  - view_type = "Create"
  - version_label = "Version:"
- else
  - view_type = "Edit"
  - version_label = "New version:"
- form_for(project) do |f|
  .form_wrapper
    %fieldset
      %legend= "#{view_type} Project"
      = render :partial => "forms/errors", :locals => { :f => f }
      %table
        %tr
          %td
            %p.label= f.label :name, "Project Name:"
            %p= f.text_field :name
            %p.label= f.label :description, "Short description of the project:"
            %p= textile_editor :project, :description, :rows => 12, :cols => 45
            = render :partial => "forms/textiled_preview_button", :locals => { :preview_source => :project_description }
            %p= render :partial => "forms/textile_info"
            %p= f.submit view_type
          %td
            %p.label= f.label :phase, "Phase:"
            %p= f.select :phase_id, Phase.find(:all).map{|p| [p.name, p.id] }
            - unless project.new_record? or project.current_version.nil?
              %p.label Current version:
              %p= h(project.current_version.name)
            %p.label= label :others, :version, version_label
            %p= text_field :others, :version