%h1
  Project
  = h( @project.name )
- if @logged_user.admin?
  .control
    = link_to "edit", edit_project_path
    |
    = link_to 'destroy', project_path, :confirm => "Are you sure you want to destroy #{h @project.name}?", :method => :delete
[
= link_to "New ticket", "#{project_tickets_path(@project)}/new"
]
%h3 Info:
%p
  - if @project.current_version
    %em Current version:
    %strong= "#{h @project.current_version.name}"
    |
  %em Phase:
  %strong= h @project.phase.name
%h3 Description:
.project_description= h(@project.description)
%h3= "Latest #{Project::TICKETS_ON_SHOW} active tickets"
= link_to "see all", project_tickets_path(@project)
#tickets
  - if @project.tickets.empty?
    No tickets
  - else
    = render( :partial => @project.tickets.sort_by{ |t| t.updated_at }.reverse[0...Project::TICKETS_ON_SHOW] )
