- if ENV["RAILS_ENV"] == "development"
  #debug{ :align=>"center" }
    = debug_info_links
    %fieldset#params_debug_info.debug_info{:style=>"display:none"}
      %legend params
      = debug(params)
    %fieldset#session_debug_info.debug_info{:style=>"display:none"}
      %legend session
      = debug session.data
    %fieldset#env_debug_info.debug_info{:style=>"display:none"}
      %legend env
      = debug(request.env)
    %fieldset#request_debug_info.debug_info{:style=>"display:none"}
      %legend request
      = debug(request)