- if ENV["RAILS_ENV"] == "development"
  #debug{ :align=>"center" }
    = debug_info_links
    #params_debug_info{:style=>"display:none"}
      %fieldset.debug_info
        %legend params
        = debug(params)
    #session_debug_info{:style=>"display:none"}
      %fieldset.debug_info
        %legend session
        = debug session.data
    #env_debug_info{:style=>"display:none"}
      %fieldset.debug_info
        %legend env
        = debug(request.env)
    #request_debug_info{:style=>"display:none"}
      %fieldset.debug_info
        %legend request
        = debug(request)