%h3 Log Yourself In
- form_for :user do |f|
  .form_wrapper
    %fieldset
      %legend Enter Your Details
      %table
        %tr
          %td.label= f.label :username, "Screen Name or email:"
          %td= f.text_field :username
        %tr
          %td.label= f.label :password, "Password:"
          %td= f.password_field :password
        %tr
          %td.label= label_tag :remember_me, "Remember me?"
          %td= check_box_tag :remember_me
        %tr
          %td
          %td= f.submit "Log in"
%p
  You have no account? Fill our
  = link_to "registration form!", new_user_path
%p
  Already have an account but forgot your passwrd? Click
  = link_to "here", url_for(:action=>"forgotten")
  to retrieve it.
= javascript_tag "$('user_username').focus();"
