- form_for :password do |form|
  %fieldset
    %legend= @page_title
    %table
      %tr
        %td{:align=>"right"}= form.label :new, "New password:"
        %td= form.password_field :new
      %tr
        %td{:align=>"right"}= form.label :confirm, "Confirm:"
        %td= form.password_field :confirm
      %tr
        %td{ :colspan=>2, :align=>"right" }= form.submit "Submit"