!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ "http-equiv"=>"Contet-Type", :content=>"text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => link_to_static("images/favicon.ico") }
    %title= "Code Ajax Tickets System :: " + ( ( @page_title ) ? @page_title : controller.action_name.capitalize )
    = stylesheet_link_tag "common"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "popupbox"
    = javascript_tag "var SITE_ROOT = '#{ApplicationHelper::SITE_URL}'; "
    = javascript_include_tag :defaults
    = javascript_include_tag "mover"
    = javascript_include_tag "popupbox"
    :javascript
      popupbox.settings.loadingImage = SITE_ROOT + popupbox.settings.loadingImage;
      popupbox.settings.closeImage = SITE_ROOT + popupbox.settings.closeImage;
      document.observe("dom:loaded", function() {
        $$("a[rel*=popupbox]").each(function(a){
          popupbox.forAnchor(a);
        });
      })
    - if %(new edit).include?( controller.action_name ) or ( controller.class == TicketsController and controller.action_name == 'show' )
      = textile_editor_initialize
    - if @rss
      = auto_discovery_link_tag :rss, @rss[:href]
  %body
    #top_nav
      #nav= render :partial => "users/top_nav", :locals => { :top_nav => @users }
      #user_controls= render :partial => "users/controls", :locals => { :controls => @users }
      .clearer
    #messages
      #loading_message{ :style => "display:none;" }
        %p Loading...
        %p= image_tag "progress_active.gif"
      - if flash[:notice]
        #notice= flash[:notice]
      - else
        #notice{ :style => "display:none;" }
      - if flash[:error]
        #error= flash[:error]
      - else
        #error{ :style => "display:none;" }
    #left_nav
      = render :partial => 'left_nav' rescue nil
    #main_div
      #content= yield
    .clearer
    = render :partial => "public/debug_info", :locals => { :debug_info => @public }
